html {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #2f363d;
}

.headPanel {
	background-color: #070c0a;
	padding-left: 80px;
	padding-right: 40px;
	min-width: 800px;
	min-height: 40px;
	max-height: 40px;
	margin: 0px;
}

.close, .min, .max {
	min-width: 15px;
	min-height: 15px;
	max-width: 15px; 
	max-height: 15px;
	background:    	#2f3437;
	border-radius: 100%;
	text-align: center;
	position: absolute;
    top: 12.5px;
	padding: 0 0 0 0;
	border-width: 0 0 0 0;
	transition-duration: 0.3s;
}

.close {	
    right: 12.5px;
}

.min {
    right: 35px;
}

.max {
	right: 57.5px;
}

.close:hover {
	background-color:#f23b0d;
}

.min:hover, .max:hover {
	background-color: white;
}

.menuFiles, .menuChains {
	background-color: #2f3437;
	min-width: 800px;
	min-height: 40px;
	max-height: 40px;
	margin: 0px;
	padding-left: 40px;
	padding-right: 40px;
}

.menuChains {
	display: none;
}

.file, .settings, .about, .chains {
	background-color: #070c0a;
	min-width: 40px;
	min-height: 40px;
	max-width: 40px; 
	max-height: 40px;
	text-align: center;
	overflow: hidden;
	border: none;
	border-width: 0 0 0 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: left;
	border-radius: 0px;
	transition-duration: 0.5s;
	color: white;
}

.file:hover,  .chains:hover, .settings:hover, .about:hover {
	background-color: #2f3437;
}

button:focus {
	outline:0;
}

.active{
	background-color: #2f3437;
}

.openFile {
	background-color: #2f3437;
	min-width: 40px;
	min-height: 40px;
	max-width: 40px; 
	max-height: 40px;
	text-align: center;
	overflow: hidden;
	border: none;
	border-width: 0 0 0 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: left;
	border-radius: 0px;
	transition-duration: 0.4s;
	color: white;
}

progress {
	position: fixed;
  	left: 0px;
  	top: 80px;
	border: 0px;
	min-height: 2px;
	max-height: 2px;
	min-width: 800px;
	width: 100%;
}

progress::-webkit-progress-bar {
  	background-color: transparent;
}

progress::-webkit-progress-value {
  	background-color: #7859a6;
}