html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #303030;
}

div#firstPanel, #menuFiles {
    min-width: 800px;
    min-height: 50px;
    max-height: 50px;
    padding: 0px;
    margin: 0px;
}

a#file, #settings, #about, #close{
    min-width: 50px;
    min-height: 50px;
    max-width: 50px; 
    max-height: 50px;
}