<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
	</head>

	<body>
		<div class="btn-group headPanel"> 
			<button class="file">1</button>
			<button class="chains">2</button>
			<button class="settings">3</button>
			<button class="about">4</button>
		</div>
		<div id="menuFiles">
			<button class="openFile"></button>
		</div>
		<div class="menuFiles">
			<button class="openFile"></button>
		</div>
	</body>

	<script language="javascript" type="text/javascript" src="../js/index.js"></script>
</html>