<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
	</head>

	<body>
		<div class="headPanel">
			<div class="btn-group">  
				<button class="file">1</button>
				<button class="chains">2</button>
				<button class="settings">3</button>
				<button class="about">4</button>
			</div>
			<div class="title-group">
				<button class="max"></button>
				<button class="min"></button>
				<button class="close"></button>
			</div>
		</div>
		<div class="menu menuFiles">
			<button class="openFile">1-1</button>
		</div>
		<div class="menu menuChains">
			<button class="openChain">2-1</button>
		</div>
		<progress value="100" max="100"></progress>


		<div class="settingsMenu" style="display: none;">

		</div>

	</body>

	<script language="javascript" type="text/javascript" src="../js/index.js"></script>
</html>